{% extends "privadoAlumno.html" %}

{% block subcuerpo %}

<link href="{{STATIC_URL}}css/tablas.css" rel="stylesheet" type="text/css" />

<h2>{{ titulo1 }}</h2>


<table>
	<tr>
		<td scope="col">NRO</td>
		<td scope="col">ASIGNATURA</td>
		<td scope="col">CONDICION/RENDIR</td>
		<td scope="col">ASIGNATURA CORRELATIVA</td>
	</tr>
	{% for mat in lista1 %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td><a href="/inscripcionMat/{{ mat.nombre }}/">{{ mat.nombre }}</td>
		<td>{{ mat.condicion }}</td>
		<td>{% for i in mat.correlativas.all %}{{ i.nombre }} {% endfor %}</td>				
	</tr>
	{% endfor %}
</table>

{% endblock %}